<div>
    
               <a class="nav-link"
                 routerLink="register"
                 routerLinkActive="active">
                   Sign up
                 </a>
</div> 
<div class="row">
    <div class="input-field col s6">
      <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
      <label>UserName</label>
    </div>
    <div class="input-field col s6">
      <input type="password" name="Password" #password="ngModel" [(ngModel)]="user.Password" required>
      <label>LastName</label>
    </div>
    <div class="row">
        <div class="input-field col s12">
      <button class="btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>