 <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <a class="navbar-brand text-white">FundooNotes</a>
        <form class="form-inline md-form form-sm active-pink active-pink-2">
          <div class="searchbar">
            <i class="fas fa-search" aria-hidden="true"></i>
            <mat-icon [ngStyle]="{'color':'black'}">search</mat-icon>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
              mdbInput>
            </div>
          </form>
          <div fxLayout="row" fxLayoutGap="65px">
              <button mat-icon-button >
                  <mat-icon aria-label="refresh Button" color="accent" [ngStyle]="{'color':'black'}">refresh
                     
                  </mat-icon>
             </button>
          </div>
          <div class="style">
             <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
          </div>
 </mat-toolbar>
  <mat-drawer-container>
          <mat-drawer #snav [mode]="'side'">
            <mat-nav-list>
              <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{ Nav }}</a>
            </mat-nav-list>
   </mat-drawer>
      
  <mat-drawer-content>
            <p *ngFor="let content of fillerContent">{{content}}</p>
          </mat-drawer-content>
  </mat-drawer-container>