<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar" fxLayout="row">

    <div>
      <button class="togle" mat-icon-button (click)="snav.toggle()" fxLayout="row" fxFlex='10'>
        <mat-icon>menu</mat-icon>
      </button></div>
    <div fxFlexOffset.xs='-4'>
      <img class="logo" src="/assets/download.png">
    </div>
    <div fxFlex='10'>
      <div [ngStyle.xs]="{'font-size.px': 15 }" [ngStyle.sm]="{'font-size.px': 20 }"
        [ngStyle.md]="{'font-size.px': 22 }">{{ Header }}
        
      </div>
    </div>

    <mat-form-field (click)="$event.stopPropagation()" fxFlex appearance="outline" fxHide.sm=true fxHide.xs=true;
      [style.min-width.px]='625' [style.fontSize.px]=2 fxFlexOffset='8' fxFlex='50' color=black>
      <div class="matform">
        <div fxLayout="row">
          <button mat-icon-button class="togle">
            <mat-icon>search</mat-icon>
          </button>
          <input matInput [style.fontSize.px]=14 placeholder="Search"  [(ngModel)]="value" (keyup)="lookfor()" (click)='goSearch()'>
        </div>
      </div>
    </mat-form-field>

    <div fxFlexOffset='18' fxFlexOffset.md='30' fxFlexOffset.sm='48' fxFlexOffset.xs='22' class="ref" fxFlex='10'>
      <div fxLayoutAlign="end center" fxLayout="row">
        <button mat-icon-button class="togle">
          <mat-icon class="Refresh" aria-label="refresh Button" color="accent" [ngStyle]="{'color':'rgb(95, 99, 99)'}"
            (click)="refresh()">refresh
          </mat-icon>
        </button>
      </div>
    </div>
   
    <div fxFlex="10" fxFlex="row" fxFlexOffset.xs='-2'>
      <button class="togle" mat-icon-button *ngIf='view==false' (click)='changeView()'>
        <mat-icon>grid_view</mat-icon>
      </button>

      <button class="togle" mat-icon-button *ngIf='view==true' (click)='changeView()'>

       

        <img src="./assets/outline-view_agenda-24px.svg">
      </button>
    </div>

    <div class="togle" fxFlex="row" fxFlexOffset.xs='0' fxFlex="20">
      <button class="togle" mat-mini-fab color="white"
        
        data-toggle="dropdown" [ngStyle]="{'background-image': 'url(' + profilePic + ')', 'background-size': 'cover'  }"></button>

      <div class="Dropdown" style="top:10px">
        <ul class="dropdown-menu">
          <li> <button mat-mini-fab [ngStyle]="{'background-image': 'url(' + profilePic + ')', 'background-size': 'cover','size':'50px'  }" 
              
              (click)="file.click(file)" class="togle" fxFlex="row" fxFlex='20'>
              <input type="file" #file style="display:none;" (change)="uploadFile(file.files)" >


            </button>
            <div>
            <h2 [ngStyle]="{'font-size':'15px' ,'color':'black'} ">{{user}}</h2>
            <h1 [ngStyle]="{'font-size':'15px' ,'color':'gray'} ">{{Email}}</h1>
          
          </div>
          <li class="devider"></li>
          <li><button mat-raised-button routerLink=".">Add Account</button>
            <button mat-raised-button (click)="onLogout()">Logout</button></li>
        </ul>
      </div>
    </div>
    <hr>
  </mat-toolbar>

  <div class="devider"></div>

  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" style="border:0px">
      <div class="mat-drawer-inner-container">
        <mat-nav-list>
          <a mat-list-item routerLink="./note" class="round" (click)="Header='Notes'">
            <mat-icon fxFlex='26'>lightbulb_outline</mat-icon>Notes
          </a>
          <div class="RemidersIcon">
            <a mat-list-item routerLink="./reminders" (click)="Header='Reminders'" class="round">
              <mat-icon fxFlex='26'>notifications_none</mat-icon>
              <span class="nav-caption">Reminders</span>
            </a>
          </div>

          <div class="devider"></div>
          <div>
            <mat-card-title>LABELS</mat-card-title>
          </div>
          <div *ngFor="let labels of Label">
            <a mat-list-item routerLink="../label" class="round" (click)="Header='Archieve'"><img
                src="./assets/outline-label-24px.svg" fxFlex='30'>{{labels.labels}}</a>

          </div>
          <div class=" EditLabelIcon">
            <a mat-list-item class="round" (click)="openDialog()">
              <mat-icon fxFlex='26'>create_outline</mat-icon>Edit Labels
            </a>
          </div>
          <div class="devider"></div>
          <div class="archive">
            <a mat-list-item routerLink="./archieve" class="round" (click)="Header='Archive'">
              <mat-icon fxFlex='26'>archive_outline</mat-icon>Archive
            </a>
          </div>
          <a mat-list-item routerLink="./trash" class="round" (click)="Header='Trash'">
            <mat-icon fxFlex='26'>delete</mat-icon>
            <span>Trash</span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>