
.settingButton{
  margin-left: 12px;
}
.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
    color: black;
}
mat-sidenav {

    width: 250px;
    height: 100%;
    visibility: collapse;
    
}

.basic-container
{
padding: 30px;
height: 20px;
width: 50%;

}
.Dropdown{
  top:50px;
}
.w-75 {
    width: 459%!important;
}

.ml-3, .mx-3 {
  margin-left: 2rem!important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
    height: 100%;
  
}

.logo {
    height: 54px;
    width: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    flex: 1;

    background-color: white;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
    overflow: hidden;
    border-radius: 15px 30px 30px 15px;
  }

  toggle-button {
    margin: 0 auto;
  } 

  .matdrawerbackdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
    visibility: collapse;
}
.devider{
  top:10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color:rgba(0,0,0,.28);
  opacity: 0.5;
}
.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 62;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 6px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 30px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
/* .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0px;
  width: 500px;
} */
/* .mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  position: absolute;
  top: 2.25em;
  left: 0;
  right: 0;
  bottom: 15px;
  pointer-events: none;
} */

.main {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */
/* 
.has-search .form-control {
  padding-left: 2.375rem;
} */

/* .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem; 
   line-height: 2.375rem; 
   text-align: center; 
   pointer-events: none; 
   color: #aaa; 
   height: 20px;
 }  */
.basic-container {
  padding: 30px;
}

.mat-card-title{
  font-size: 13px;
  margin-top: 10px;
  margin-left: 30px;
  color: rgb(95, 99, 99);
}
.logo[_ngcontent-c1] {
  height: 55px;
  width: auto;
  padding: 6px;
  display: block;
  margin: 0 auto;
}
.EditLabelIcon{
margin-bottom: 10px;
}
.RemidersIcon
{
  margin-bottom: 10px;
  
}
button, input, optgroup, select, textarea {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

}
.archive{
  margin-top: 10px;
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 356px;
}
.Logout{
  border: none;
  outline: none;
}
.togle{
  border: none;
  outline: none;
}

.searchbar{
  width: 520px;
  
}
/* 
@media only screen and (max-width: 600px) {
     .example-sidenav-container{
       width: 2;
     }
} */
.abc{
  width: 129px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: black;
}
.round{
  border-radius: 15px 30px 30px 15px;
  font-size:15px;
    font-weight: 400;
  /* background: yellow; */
}
.profilepic{
  width: 100%;
  display: flex;
}

  .image {
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 100%;
   width: 100%;
  }
  .matform{
    background:rgb(243, 242, 242);
    /* padding: 0%; */
    
  }