<button mat-button>
<mat-icon [ngStyle]="{'color':'rgb(95, 99, 99)'}" fxFlex='15'>add_alert</mat-icon>
</button>
<button mat-button>
<mat-icon [ngStyle]="{'color':'rgb(95, 99, 99)'}" fxFlex='15'>color_lens</mat-icon>
</button>
<button mat-button (click)="UpLoadImage()">
<mat-icon [ngStyle]="{'color':'rgb(95, 99, 99)'}" fxFlex='15'>image</mat-icon>
</button>
<button mat-button>
<mat-icon [ngStyle]="{'color':'rgb(95, 99, 99)'}" fxFlex='15'>archive</mat-icon>
</button>
<button mat-button>
<mat-icon [ngStyle]="{'color':'rgb(95, 99, 99)'}" fxLayoutAlign="center center">more_vert</mat-icon>
</button>