/* You can add global styles to this file, and also import other style files */
div.sm.jumbotron{
    margin: 0px;
    padding:0rem;
    background-color: royalblue;
    color: aliceblue;
}
button.btn-submit{
    background-color: crimson;
    color: slateblue;
    width: 10%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: royalblue;

}
input.ng-invalide.ng-dirty{
    border-bottom-color: crimson !important;
box-shadow: 0 1px 0 0 crimson !important;
}