<form [formGroup]="form">
  <div class="Notes" [ngStyle.xs]="{'margin-top': '30px' }">
    <mat-card class="example-card" fxFlexOffset='25' fxFlexOffset.sm='10'>

      <div *ngIf="!isOpen" (click)="isOpen=true"  fxLayout="row" fxFlex="100">
        <input class="take_a_note" formControlName="Description" type="text" placeholder="Take a note..."
          aria-label="Take a note" fxLayout="row">
      </div>
     
      <div *ngIf=isOpen class="card" >
        <div class="cards" >

          <textarea  formControlName="title" 
            placeholder="Title" style="width: 560px; outline: none;border:none;overflow:hidden;" [mat-autosize]></textarea>
           
          <textarea  formControlName="Description" 
            placeholder="Take a note..." style="width: 560px; outline: none; overflow: hidden; border:none" [mat-autosize]></textarea>
        </div>
        <app-icon></app-icon>
        <div class="closeButton">
          <button mat-button (click)="isOpen=false" (click)="AddNotes()">close</button>
        </div>

      </div>
    </mat-card>
  </div>
</form>