
@media only screen and (max-width: 600px) {
     
    }

    .Notes{
        padding: 30px;
        outline: none;
        display: flex;
    }

    .example-card{
       
        height: auto;
        width: 600px;
        outline: none;
        display: flex;
    }
  
.take_a_note{
    outline: none;
    border: none;
}
.card{
    outline: none;
    border: none;
    display: flex;
}
.title
{
    outline: none;
    border: none;
}