<mat-card class="front" style="width: 400px; height:auto;margin-top:25px;" fxFlex="row">
  <div fxLayoutAlign='center center'>
    <img src="./assets/festisite_google.png" style="width: 100px">
  </div>
  <mat-label fxLayoutAlign='center center'>
    <h5>Find your Email</h5>
  </mat-label>
  <mat-label fxLayoutAlign='center center'>Enter your email</mat-label><br>
  <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" #Email="ngModel" name="Email" placeholder="Email" [(ngModel)]="formModel.Email"
        required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="button btn-lg btn-block" [disabled]="form.invalid">Reset Password</button>
      </div>
    </div>
  </form>
</mat-card>