.arrow{
    margin-left: 80%;
    margin-top: 0%;
}
.devider{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color:rgb(95, 99, 99);
    opacity: 0.5;
  }
  .togle{
      border: none;
      outline: none;
  }