<div>
  <input matInput [(ngModel)]='Label.labels' placeholder="Create New Label" autofocus='false'>
  <div class="arrow">
    <button mat-icon-button (click)="AddLabel(Label.labels)" class="togle" [ngStyle]="{'background-color':'white'}">
      <mat-icon>done</mat-icon>
    </button>
  </div>



</div>
<div *ngFor="let labels of Label">

  <button mat-icon-button (click)="DeleteLabel(labels.id)">
    <mat-icon [ngStyle]="{'color':'rgb(95, 99, 99)'}">delete</mat-icon>
  </button>

  <div fxLayoutAlign="center center">
    <input matInput [(ngModel)]='labels.labels' placeholder="Enter Label" autofocus='false'>
  </div>
  <button mat-icon-button class="togle" fxFlexOffset='30' (click)="UpdateLabel(labels)">
    <mat-icon [ngStyle]="{'color':'rgb(95, 99, 99)'}">edit</mat-icon>
  </button>
</div>


<div class="devider"></div>
<div fxLayout="row" fxLayoutAlign="end center">
  <button class="togle" mat-button (click)="UpdateLabelAll(Label)">Done</button>
</div>