
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm jumbotron center-align">
        <h2>User Registration</h2>
      </div>
  
      <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="onSubmit(userRegistrationForm)" autocomplete="off">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" class="validate" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
            <label data-error="required Field!">User Name</label>
          </div>
  
          <div class="input-field col s6">
            <input type="password" class="validate" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
            <label data-error="required Field! Minimum 3 Character needeed">Password</label>
          </div>
        </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="Email" #Email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="user.Email" required>
              <label data-error="Invalide Email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName" required>
              <label>FirstName</label>
            </div>
            <div class="input-field col s6">
              <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" required>
              <label>LastName</label>
            </div>
          </div>
            <div class="row">
                <div class="input-field col s12">
              <button class="btn-large btn-submit" [disabled]="!userRegistrationForm.valid" type="submit">Submit</button>
            </div>
            
          </div>
      </form>
    </div>
  </div>

</div>