<div fxLayoutGap='0%'  fxLayout={{css}} style="margin-top:10px">
    <div class="loop" *ngFor="let note of cards">
      <mat-card class="note" [style.background-color]=note.color >
        <div (click)="openDialog(note)" class="element.style">
          <div>
            <img src="{{note.image}}" class="notesImage" />
          </div>
          
          <div class="inputArea">
           <mat-card-title class="inputArea">{{note.title}}</mat-card-title>
          </div>
          <div class="inputArea"> 
              <mat-card-content class="inputArea">{{note.description}}</mat-card-content>
          </div>
        
        </div>
        <app-icon [cards]="note"></app-icon>
      </mat-card>
    </div>
  </div>