.note{
    /* min-width: 250px; */
    margin-top:15px;
    margin-left: 25px;
    flex-wrap: wrap;
    height: auto;
    width: 320px;
    border: none;
    outline: none;
}
.inputArea{
    border: none;
    outline: none;
}
.notesImage{
    /* margin-top: 0%; */
    width: 100%;
    display: flex;
}