.note{
    min-height: 30px;
     /* min-width: 240px; */
    margin-top:15px;
    margin-left: 25px;
    flex-wrap: wrap;
    height: auto;
    width: 250px;
    border: none;
    overflow: hidden;
    outline: none;
    border-radius: 10px 10px 10px 10px; 
}
.inputArea{
    border: none;
    outline: none;
}
.notesImage{
    /* margin-top: 0%; */
    width: 100%;
    display: flex;
}
 .round{
     border-radius: 10px 25px 25px 10px; 
     /* background: yellow;  */
   } 